$screenWidth: (
	medium: 640px,
	large: 900px
);

$screenHeight: (
	small: 700px,
	large: 825px
);

$colors: (
	app-primary: #4b88a2,
	app-background: #fff9fb,
	app-font: #252627,
	app-accent: #bb0a21,
	app-gray: #d3d4d9
);

$border-radius: 50px 0 50px 50px;
$border-radius-small: 30px 0 30px 30px;
