$screenWidth: (
	medium: 640px,
	large: 900px
);

$screenHeight: (
	small: 700px,
	large: 825px
);

$colors: (
	primary: #f6f1df,
	primary-dark: #ffd09a,
	font: #000000,
	subtle: #727272,
	warning: #b20000,
	succes: #00640f
);

$border-radius: 10px;
